<nav class="navbar navbar-expand-lg bg-green">
    <div class="container-fluid">
      <a class="navbar-brand text-light" routerLink="/home">SzakiSwap</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <li class="nav-item">
            <input class="form-control me-2" type="search" placeholder="keresés" aria-label="Search">
          </li>
        </ul>
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <button class="btn btn-outline-light" routerLink="/home">Főoldal</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-light" routerLink="/works">Munkáltatók és munkáim</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-light" routerLink="/profile">Profilom</button>
          </li>
          <li class="nav-item">
            <button class="btn btn-outline-light" (click)="onLogout()">Kilépés</button>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  