<app-navbar></app-navbar>
<div class="container">
    <h1>Munkáim</h1>
    <button class="btn btn-primary" (click)="addJob()">Hozzáadás</button>
    <br>
    <div class="card" *ngFor="let job of jobs">
        <h2>{{ job.title }}</h2>
        <h6>{{ job.category }}</h6>
        <p>{{ job.description }}</p>
        <p>Szükséges tapasztalati szint: </p>
            <div class="experience-bar">
                <div [style.width.%]="(job.experienceLevel / 3) * 100"></div>
            </div>
        <h5>{{ job.price }} Ft/óra</h5>
        <button class="btn btn-outline-primary" (click)="redirectToAppliers()">Jelentkezők</button>
        <br>
        <button class="btn btn-primary" (click)="editJob(job.id)">Szerkesztés</button>
        <br>
        <button class="btn btn-danger" (click)="deleteJob(job.id)">Törlés</button>
    </div>
</div>